.HeaderNav {
    border-bottom: 1px solid #f1f1f1;
    height: 43px;
    line-height: 43px;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 91;
    left: 0;
    .HeaderNav_box {
        overflow: hidden;
        position: relative;
        padding: 0 10px;
        p.HeaderNav_title {
            text-align: center;
            font-size: 16px;
            span.col {
                font-size: 16px;
                font-weight: 600;
            }
        }
        a.filter {
            position: absolute;
            top: 0;
            display: block;
            right: 10px;
            font-size: 13px;
            color: white;
            span {
                display: block;
                float: right;
                color: #333333;
                margin-left: 5px;
                font-size: 13px;
            }
            img {
                opacity: 1;
                width: 19px;
                float: left;
                margin-top: 12.5px;
            }
        }
    }
}